
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}

    /*Header*/
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 25px 0;
}

    /*Nav*/
.nav {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 72px;
    color: #FF0000;
    text-decoration: none;
}

    /*Intro*/
.intro {
    width: 100%;


}

.intro_container_img {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_container_title {
    padding: 48px 0 38px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373737;
}

.intro_container_text1 {
    width: 100%;
    max-width: 1145px;
    max-height: 132px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_container_text2{
    padding-top: 28px;
    width: 100%;
    max-width: 1145px;
    max-height: 216px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_container_button{
    width: 191px;
    height: 51px;
    left: 544px;
    top: 557px;
    background-color: #FF0000;;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 68px auto 82px auto;

    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: none;
    color: #fff;
}

    /*Footer*/
.footer {
    width: 100%;
    max-width: 1070px;
}

.footer_container {
    width: 100%;
    max-width: 1070px;
    height: 39px;
    right: 105px;
    bottom: 29px;
}

.footer_container_text{
    font-weight: 700;
    line-height: 20px;
    color: #373737;
    display: flex;
    justify-content: flex-end;
}

